// Home Content

.home {
  .width(90%, 1150px);
  margin-top: 77px;
  padding-top: 25px;
  text-align: center;

  @media @phone {
    width: 95%;
    margin-top: 0px;
  }

  .top-image {
    width: 100%;
  }

  section {
    padding: 25px 0px 50px;
    border-bottom: 1px solid @font-color;

    @media @phone {
      padding-bottom: 25px;
    }

    &:last-child {
      border-bottom: none;
    }
    h2 {
      padding: 25px 0px 50px;

      @media @phone {
        font-size: 2.5rem;
        padding-bottom: 25px;
      }
    }

    > div {
      .flexProperties(space-around, row, nowrap);
      padding: 0px 50px;

      @media @phone {
        .flexProperties(space-around, column, nowrap);
        width: 100%;
        padding: 0px 20px 20px;
      }

      img {
        width: 50%;

        @media @phone {
          width: 100%;
          padding: 0px;
        }
      }

      p {
        padding: 5rem;

        @media @phone {
          width: 100%;
          padding: 25px 0px;
        }
      }
    }
  }

  .action {
    .flexProperties(space-around, row, nowrap);
    padding: 25px 0px;

    > div {
      .flexProperties(space-around, column, nowrap);
      padding: 75px 25px;
      width: 50%;

      &:first-child {
        border-right: 1px solid @font-color;
      }

      button {
        padding: 10px 25px;
        margin-top: 50px;
        border: none;
        border-radius: 1rem;
        font-size: 1.75rem;
        background-color: @orange;
        box-shadow: 1px 1px 10px;
        cursor: pointer;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}
